body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffc93c;
}

.container{
    margin: 0 auto;
    max-width: 1400px;
}

section{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),url('../images/Cartagena.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #FFFFFF;
    padding: 200px 0;
}

header h1{
    font-weight: 700;
    font-size: 96px;
    line-height: 1.5;
    margin: 0;

}

header h2{
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}

header h3{
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
}

header a{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 3px;
    background-color: #FFFFFF;
    color:#272044;
    text-decoration: none;
    padding: 16px 32px;
    display: inline-block;
    margin: 32px;
}

footer{
    background-image:linear-gradient(
        rgba(171, 83, 0, 0.8),
        rgba(171, 83, 0, 0.8)
      ), url(../images/Cartagena\ footer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;

}

footer h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
}

footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

footer ul{
    padding: 0;
}

footer li{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a{
    color: white;
}

@media (max-width:900px) {
    header{
        padding: 60px 0;
    }

    header h1{
        font-size: 48px;
        line-height: 1;
        margin: 20px 0;
    }

    header h2{
        font-size: 20px;
    }

    header h3{
        font-size: 12px;
    }

    footer .grid{
        grid-template-columns: 1fr;
        text-align: center;
    }


}